[submodule ".\\@hyper-hyper-space\\core"]
	path = @hyper-hyper-space/core
	url = ../hyperhyperspace-core.git
[submodule ".\\@hyper-hyper-space\\node-env"]
	path = @hyper-hyper-space/node-env
	url = ../hyperhyperspace-node-env.git
[submodule ".\\@hyper-hyper-space\\p2p-chat"]
	path = @hyper-hyper-space/p2p-chat
	url = ../p2p-chat.git
[submodule ".\\@hyper-hyper-space\\p2p-chat-cli"]
	path = @hyper-hyper-space/p2p-chat-cli
	url = ../p2p-chat-cli.git
[submodule ".\\@hyper-hyper-space\\p2p-chat-web"]
	path = @hyper-hyper-space/p2p-chat-web
	url = ../p2p-chat-web.git
[submodule "@hyper-hyper-space/react"]
	path = @hyper-hyper-space/react
	url = ../hyperhyperspace-react.git
[submodule "@hyper-hyper-space/sloth-permutation"]
	path = @hyper-hyper-space/sloth-permutation
	url = ../sloth-permutation.git
[submodule ".\\@hyper-hyper-space\\sqlite"]
	path = @hyper-hyper-space/sqlite
	url = ../hyperhyperspace-sqlite.git
[submodule "@hyper-hyper-space/chat-group"]
	path = @hyper-hyper-space/chat-group
	url = ../chat-group.git
[submodule ".\\@hyper-hyper-space\\pulsar-node"]
	path = @hyper-hyper-space/pulsar-node
	url = ../pulsar-node.git
[submodule ".\\@hyper-hyper-space\\pulsar"]
	path = @hyper-hyper-space/pulsar
	url = ../pulsar.git
[submodule ".\\@hyper-hyper-space\\pulsar-web"]
	path = @hyper-hyper-space/pulsar-web
	url = ../pulsar-web.git
[submodule "@hyper-hyper-space/node-rsa"]
	path = @hyper-hyper-space/node-rsa
	url = ../hyperhyperspace-node-rsa.git
[submodule "@hyper-hyper-space/home"]
	path = @hyper-hyper-space/home
	url = ../home.git
[submodule "@hyper-hyper-space/hyper-browser-web"]
	path = @hyper-hyper-space/hyper-browser-web
	url = ../hyper-browser-web.git
[submodule "@hyper-hyper-space/signalling-server"]
	path = @hyper-hyper-space/signalling-server
	url = ../signalling-server.git
[submodule "@hyper-hyper-space/wiki-collab"]
	path = @hyper-hyper-space/wiki-collab
	url = ../wiki-collab.git
